.form-floating {
  box-sizing: border-box;
  width: 30%;
  margin-left:auto;
  margin-right:auto;
}

.login-form {
 margin-top: 300px;
}

.btn-primary {
  margin-left:auto;
  margin-right:auto;
  margin-top:20px;
  text-align:center;
  display:block;
  padding:10px
}

body {
 background: url('beach-tennis-system-background.jpg') no-repeat center center fixed;
 background-size: cover;
}